<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>
<div class="ahihi">
  <div class="ahaha">
    <span>Chúc mừng năm mới</span>
    <br>
    <span>Nhâm dần - 2022</span>
  </div>

  <div class="flex-w flex-c-m p-b-35">
    <a class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5" href="http://fb.com/viettranngt208"
       target="_blank">
      <i class="fa fa-facebook"></i>
    </a>

    <a class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5" href="mailto:viettran4718@example.com"
       target="_blank">
      <i class="fa fa-envelope"></i>
    </a>

  </div>

</div>

