<div class="container-contact100">

  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Nhận chút lì xì cho năm mới may mắn nào ^^
				</span>

      <div class="wrap-input100 validate-input" data-validate="Please enter your name">
        <input class="input100" type="text" name="name" placeholder="Tên đầy đủ của bạn :D">
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate = "Please enter your email: e@a.x">
        <input class="input100" type="text" name="email" placeholder="STK/SĐT nhận lì xì (BIDV thôi nhé :D)">
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate = "Please enter your message">
        <textarea class="input100" name="message" placeholder="Mong muốn/lời chúc trong năm 2021"></textarea>
        <span class="focus-input100"></span>
      </div>

      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn" >
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Send
						</span>
        </button>
      </div>
    </form>
  </div>
</div>
